@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Chewy&display=swap');
body{
    background-color: #EDAFA3;
}

header{
    font-family: "Anonymous Pro", monospace;
    background-color:#EDAFA3;
    padding: 10px 70px;
    display: flex;
   justify-content: space-between;
   
   list-style: none;
    
}
header h1{
    left: 50% ;
    position: absolute;
    color: #640274;
    transform: translateX(-50%)
}
nav ul{
    display: flex;
    gap: 50px;
   list-style: none;
}
header a{
    font-weight: bold;
    list-style: none;
    text-decoration: none;
  color: #640274;
    padding: 0px;  
   
}
img{
    padding: 0%;
    margin-left:5px;
    height: 50%;
    width: 60%;
}

.text h1{
    font-family: "Chewy", system-ui;
    letter-spacing: 5px;
    left: 70% ;
    top: 230px;
    position: absolute;
    color: #640274;
    transform: translateX(-50%)
}
.text h3{
    font-family: "Chewy", system-ui;
    letter-spacing: 5px;
    color: black;
    left: 70.5%;
    top: 320px;
    position: absolute;
    transform: translateX(-50%)
}

.button {
    display: flex; /* Torna o container flexível */
    margin-left: 65%;
}

.button a {
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(90deg, #E89180 0%, #ECE1DB 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}